html {
    scroll-behavior: smooth;
}
/* ================= HEADER ================= */
body {
    background-color: #F4F2FC;
    font-family: sans-serif; /* torna padrão a fonte do código */   
}
.header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}
.container{
    /* definir tamanho maximo para não ter scroll lateral*/
    /* max-width: 1200px; */
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.title{
    white-space: nowrap; /* não permite quebrar o texto*/
}

.logo {
    display: flex;
    color: #404CCD;
    font-size: 20px;
    align-items: center;
}

.logo img {
    height: 40px;
    width: auto;
}

.pingo{
    display: flex;
    background-color: purple;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
}

.conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conjunto:hover .pingo{
    color: #EB0029;
    opacity: 1;
}

.conjunto:hover a {
    color: blue

}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
    padding: 0 5rem;
}

/*
   realiza animação quando o cursor é apontado, vira uma "mãozinha"
*/
.navbar a {
    transition: transform 0.5s ease, color 0.5s ease;
    cursor: pointer;
}


.navbar a:hover {
    transform: scale(1.2);
    color: #404CCD;
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}
/* ======================================== */


/* ================= MAIN ================= */

   /* ============== HOME ============== */
 

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    display: block;
    /* max-width: 100%; */
    width: 100%;
    height: 40vh;
    object-fit: cover; 

}

.texto-sobreposto {
    position: absolute;
    top: 35%;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    text-shadow: 6px 2px 4px #404CCD;
    white-space: nowrap;
}

.texto-sobreposto h1 {

    margin-bottom: 10px;
    font-size: 50px;
}

.texto-sobreposto h5 {
    /* margin: 16px 16px 0px 200px; */
    margin-top: 15px;
    padding: 10px 20px;
    display: inline-block;
    background-color: #404CCD;
    width: 347px;
    height: 33px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.texto-sobreposto h3 {
    /* margin: 0px 0px 0px 99px; */
    margin: 20px auto;
    font-size: 22px;
}

/* animação do botão, faz com que o botão pisque e aumente de tamanho quando
o cursor passa por cima */

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.botao {
    animation: blink 2.7s linear infinite;
    transition: transform 1s ease;
    cursor: pointer;
}

.botao:hover {
    transform: scale(1.2);
}

   /* ================================ */

   /* ========== INTRODUÇÃO ========== */

.introducao {               /*classe pai*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 80px 20px;
    /* margin-top: 80px; */
    flex-wrap: wrap;
}

.texto {
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    color: #404CCD;
    /* background-color: #EB0029; */
}

.texto h1{
    font-size: 40px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.texto h4 {
    color: #6B6969;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}
.imgPc{
    width: 100%;
    max-width: 500px;
    height: auto;
}

.barra2 {
    /* position: absolute;
    /* top: 800px; */
    /* bottom: 0;
    left: 0;  */
    height: 2px;
    width: 100%;
    background: #a3a3a3;
    opacity: 1;
    /* margin-top: 200px; */
    margin: 40px 0;
}

/* ================================ */


/* =========== RECURSOS =========== */
/* personalizar container principal*/
.recursos {
    display: flex;
    flex-wrap: wrap;
    gap: 9rem; /* espacamento entre os itens*/
    /* padding: 30px; espaco ao redor do item dentro */
    /* margin: 115px 0; */
    padding: 2vw;
    justify-content: center;/* alinhar itens*/
}

/* PAREI AQUIIIIIIIIIIII */

.tituloRec {
    font-size: 25px;
    color:#4f46e6;
    margin: 15px 0;
}
.subrec{
    font-size: 15px;
    color: #767373;
    margin: 15px 0;
}
.maozinha{
    margin: 5px 0;
}


/* Estilo para cada div dentro do container .recursos */
.recursos div {
    /* display: flex; */
    width: 300px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    text-align: center;
}
/*aumenta tamnaho quando passa o mouse*/
.recursos div:hover {
    transform: scale(1.2);
}

.recursos2 {
    display: flex;
    flex-wrap: wrap;
    gap: 9rem; /* espacamento entre os itens*/
    /* padding: 30px; espaco ao redor do item dentro */
    /* margin: 115px 0; */
    padding: 2vw;
    justify-content: center;
}

.recursos2 div {
    /* display: flex; */
    width: 300px;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    text-align: center;
    padding: 20px;

}

.recursos2 div:hover {
    transform: scale(1.2);
}


/*personaliza o botao do video*/
.botaovideo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404CCD;
    width: fit-content;
    height: 6vh;
    padding: 10px 20px;
    margin: 90px auto 0 auto; /* centraliza horizontalmente */
    margin-top: 90px;
    border-radius: 50px;
    font-family: sans-serif;
    color: #ffff;
    transition: transform 0.5s ease;
}
/*efeito no botao de video*/
.botaovideo:hover {
    transform: scale(1.2);
}


.barra3 {
    /* position: static; */
    /* top: 800px; */
    /* bottom: 0;
    left: 0; */
    height: 2px;
    background: #a3a3a3;
    opacity: 1;
    /* margin-top: 200px; */
    /* width: 100%; */
    margin: 40px 0;
}

/* ================================ */

/* ========== INFORMAÇÃO ========== */
.info {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* margin-top: 300px; */
    text-align: center;
    padding: 40px 20px;
}
.info h1{
    font-size: 45px;
    margin-bottom: 20px;
    /* margin: 150px 0; */
}

.info h2 {
    /* margin-top: 50px; */
    /* width: 70vw; */
    color: #767373;
    /* text-align: center; */
    line-height: 1.5;
    font-size: 25px;
    margin: 0 auto;
}

/* ================================ */

/* ============ VIDEOS ============ */
.video-apresentacao {
    position: relative;
    /* display: inline-block; */
    /* margin-top: 120px; */
    width: 100%;
    margin-top: 60px;

}

.fundo {
    /* display: flex; */
    /* max-width: 100%; */
    width: 100%;
    height: auto;
    /* margin: 180px 0px 0px 0px ; */
}

.youtube {
    position: absolute;
    display: block;
    width: 10vw;
    height: auto;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* margin: 90px 0 ; */

}

.titulo {
    position: absolute;
    top: 50%;
    left: 30%;
    color:#fff;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.titulo h1 {
    font-size: 50px;
}

.titulo h2 {
    text-decoration: underline;
}

/* ================================ */

/* ======== DEMONSTRAÇÔES ========= */
.demonstracao {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* margin-top: 90px; */
    /* background-color: #EB0029; */
    text-align: center;
    padding: 60px 0;
}

.demonstracao h1 {
    font-size: 50px;
    /* margin-bottom: 30px; */
}

.demonstracao h2 {
    color: #767373;
}


.selecao1 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 40px;
    /* margin-top: 200px; */
    /* margin: 0px 0; */
    justify-content: center;
}

.selecao1 div {
    display: flex;
    width: 50vw;
    height: 35vh;
    /* flex-direction: column; */
    align-items: center;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    justify-content: center;
    /* text-align: center; */
}

.selecao1 div:hover {
    transform: scale(1.2);
}

.selecao2 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 40px;
    /* margin-top: 200px; */
    /* margin: 0px 0; */
    justify-content: center;
}

.selecao2 div {
    display: flex;
    width: 50vw;
    height: 35vh;
    /* flex-direction: column; */
    align-items: center;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    justify-content: center;
    /* text-align: center; */
}

.selecao2 div:hover {
    transform: scale(1.2);
}

.barra4 {
    height: 2px;
    background: #ccc;
    margin: 40px 0;
    width: 100%;
}

/* ================================ */

/* ============ PREÇOS ============ */
.caixa-grande {
    display: flex;
    flex-direction: column;;
    /* margin-top: 200px; */
    justify-content: center;
}

.caixa-media {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 75px; */
    padding: 15px;
}

.texto-criativo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-criativo h1 {
    /* width: 450px;
    margin-top: 19px; */
    flex-wrap: wrap;
    justify-content: center;
    font-size: 25px;
    color: #767373;
    padding: 15px;
}
.texto-criativo p{
    font-size: 35px;
    font-weight: bold;
}

.ladoA {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    height: 60vh;
    box-shadow: 10px 10px 10px #404CCD;
    border: 1px solid #404CCD;
    border-radius: 10px;
    gap: 50px;
}

.ladoA img {
    margin-top: 60px;
    width: 8vw;
    height: auto;
}

.ladoA h3 {
    font-size: 27px;
    width: 30vw;
    height: auto;
    text-align: center;
    font-weight: 500;
    color: #767373;
}

.ladoA h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F2FC;
    background-color: #404CCD;
    width: 15vw;
    height: 5vh;
    border-radius: 50px;
    transition: transform 1s ease, rotate 1.2s;
}

.ladoA h2:hover {
    transform: scale(1.2);
    rotate: -4deg;
}

.ladoB {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    height: 60vh;
    box-shadow: 10px 10px 10px #404CCD;
    border: 1px solid #404CCD;
    border-radius: 10px;
    gap: 50px;
}

.ladoB img {
    margin-top: 60px;
    width: 10vw;
    height: auto;
}

.ladoB h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F2FC;
    background-color: #404CCD;
    width: 15vw;
    height: 5vh;
    border-radius: 50px;
    transition: transform 1s ease, rotate 1.2s;
}

.ladoB h2:hover {
    transform: scale(1.2);
    rotate: 4deg;
}

.ladoB h3 {
    font-size: 27px;
    width: 30vw;
    height: auto;
    text-align: center;
    font-weight: 500;
    color: #767373;
}

/* ================================ */

/* =========== CONTATO ============ */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 250px; */
    margin-top: 30px;
}

.contato h1 {
    font-size: 40px;
    /* margin-bottom: 50px; */
}

.contato h3 {
    width: 35vw;
    height: auto;
    text-align: center;
    line-height: 1.5;
    color: #767373;
    font-size: 25px;
}

.number {
    display: flex;
    background-color: #404CCD;
    width: 20vw;
    margin: 30px auto;
    font-size: 30px;
    height: 8vh;
    align-items: center;
    justify-content: center; 
    /* margin-left: 810px; */
    /* margin-bottom: 150px; */
    color: #fff;
    border-radius: 50px;
    transition: transform 1s ease;
}

.number:hover {
    transform: scale(1.2);
}

/* ================================ */

/* ========================================== */



/* ================= FOOTER ================= */
footer {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    background-color:#404CCD;
    color: #fff;
    padding: 0 10px;
}

footer h1 {
    font-size: 20px;
    /* margin-left: 10px;
    margin-right: 30px; */
}

footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 30px; */
}

footer img {
    width: 50px;
    height: auto;
}
/* ========================================== */

@media(max-width: 768px) {
    
/* ================= HEADER ================= */
    .header{
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        background-color: tomato;

    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 0;
        font-family: sans-serif;
        height: 65px;
        text-align: center;
    }
    .logo{
        font-size: 12px;
        padding: 0 1rem;

    }
    .navbar{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: none;
        font-family: sans-serif;
        font-size: 16px

    }
    .navbar{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: none;
        font-family: sans-serif;
        font-size: 16px

    }

    .texto-sobreposto h3{
        font-size: 20px;
        /* margin: -5px 5rem; */
    }
    .texto-sobreposto h1{
        font-size: 30px;
        /* margin: 8px 7rem; */
    }
    .texto-sobreposto h5{
        width: 300px;
        height: 36px;
        font-size: 15px;
        /* margin: -50px 8rem; */
        white-space: nowrap;
    }
    /* ========================================== */

    /* ========== INTRODUÇÃO ========== */

    .imgPc{
        display: none;
    }

    .caixa-media{
        justify-content: space-between;
        flex-direction: column;
        gap: 80px
    }
    .ladoA, .ladoB{
        width: 75vw;
        height: 40vh;
        gap: 15px
    }
    .ladoA h2, .ladoB h2{
        width: 30vw;
        height: 4vh;
        font-size: 13px;
    }

    .ladoA h3, .ladoB h3{
        width: 55vw;
        font-size: 25px;
    }

    .ladoA img, .ladoB img{
        width: 12vw;
        margin: 20px;
    }

     /* =========== CONTATO ============ */
    .contato h1 {
        font-size: 35px;
        /* margin-bottom: 50px; */
    }
    .contato h3{
        width: 60vw;
        font-size: 20px;
    }
    .number{
        font-size: 25px;
        width: 35vw;
        height: 6vh;
    }

}
@media(max-width: 480px) {
    /* ================header=================== */
    body{
        /* display: none; */
    }
    .header{
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
    }
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 12px;
        align-items: center;
        padding: 18px 0;
        font-family: sans-serif;
        height: 65px;
        text-align: center;
    }
    .logo{
        font-size: 12px;
        padding: 0 1rem;

    }

    .navbar{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: none;
        font-family: sans-serif;
        font-size: 12px
    }
    .texto-sobreposto{
        margin-top: 35px;
    }

    .texto-sobreposto h3{
        font-size: 12px;
        /* margin: -5px 5rem; */
        margin: 0;
    }
    .texto-sobreposto h1{
        font-size: 18px;
        margin: 0;
        /* margin: 8px 7rem; */
    }
    .texto-sobreposto h5{
        width: 170px;
        height: 25px;
        font-size: 9px;
        margin-top: 0;
        padding: 8px;
        /* margin: -69px 6.3rem; */
    }
    /* ========================================== */
    /* ===============INTRODUCAO=============== */

    .imgPc{
        display: none;
    }
    .introducao{
        padding: 0 8px;
    }
    .texto h1{
        font-size: 18px;
    }
    .texto h4{
        font-size: 18px;
    }
    .barra2{
        margin: 15px 0;
    }

    /* ===============Recursos=============== */

    .recursos, .recursos2{
        gap: 3rem;
    } 
    .barra3{
        margin: 15px 0;
    }

    /* ============================== */
    /* ========== INFORMAÇÃO ========== */
    .info h1{
        font-size: 18px;
        margin-bottom: 20px;
        /* margin: 150px 0; */
    }
    .info h2{
        font-size: 15px;
    }

    /* ============ VIDEOS ============ */

    .video-apresentacao{
        margin-top: 0;
    }
    .titulo{
        left: 24%;
    }
    .titulo h1{
        font-size: 12px;

    }
    .titulo h2{
        font-size: 8px;
    }
    /* ================================ */
    /* ======== DEMONSTRAÇÕES ========= */
    .demonstracao{
        padding: 8px;
    }
    .demonstracao h1{
        font-size: 18px;
    }
    .demonstracao h2{
        font-size: 15px;
    }
    /* ================================ */
    /* ============ PREÇOS ============ */
    .texto-criativo p{
        font-size: 16px;
    }
    .texto-criativo h1{
        font-size: 12px;
    }
    .caixa-media{
        justify-content: space-between;
        flex-direction: column;
        gap: 80px
    }
    .ladoA, .ladoB{
        width: 75vw;
        height: 40vh;
        gap: 15px
    }
    .ladoA h3, .ladoB h3{
        width: 55vw;
        font-size: 15px;
    }
    .ladoA h1, .ladoB h1{
        font-size: 18px;
    }
    .ladoA h2, .ladoB h2{
        width: 30vw;
        height: 4vh;
        font-size: 13px;
    }
    .ladoA img, .ladoB img{
        width: 12vw;
        margin: 20px;
    }
    /* ================================ */
    /* =========== CONTATO ============ */
    .contato h1 {
        font-size: 15px;
        /* margin-bottom: 50px; */
    }
    .contato h3{
        width: 60vw;
        font-size: 10px;
    }
    .number{
        font-size: 15px;
        width: 35vw;
        height: 6vh;
    }
    /* ========================================== */
    /* ================= FOOTER ================= */

    footer{
        padding: 0;
    }
    footer h1{
        font-size: 11px;

    }
    footer img{
        width: 17px;
    }






}

